@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Outfit', sans-serif;
    background-color: #FDFBF7;
    color: #1A1A1A;
    overflow-x: hidden;
  }

  /* Hide scrollbar for cleaner look */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
